In [6]:
import pandas as pd
from lyricsgenius import Genius
import re
import time
import random

In [5]:
pip install lyricsgenius

Collecting lyricsgenius
  Downloading lyricsgenius-3.0.1-py3-none-any.whl (59 kB)
     |████████████████████████████████| 59 kB 3.3 MB/s
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.7/dist-packages (from lyricsgenius) (2.23.0)
Requirement already satisfied: beautifulsoup4>=4.6.0 in /usr/local/lib/python3.7/dist-packages (from lyricsgenius) (4.6.3)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20.0->lyricsgenius) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20.0->lyricsgenius) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20.0->lyricsgenius) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20.0->lyricsgenius) (2021.10.8)
Installing collected packages: lyricsgenius
Successfully installed lyricsgenius-3.0.1

In [20]:
df = pd.read_excel('bsan6200_charts_duplicates_removed.xlsx')
df.head()

,Title,Artist,Views,Genre,Rock,Country,Pop,R&B,Rap
0,212,Azealia Banks,3.6M,Rap,0,0,0,0,1
1,505,Arctic Monkeys,1.5M,Rock,1,0,0,0,0
2,679,Fetty Wap,4.2M,Rap,0,0,0,0,1
3,0 to 100 / The Catch Up,Drake,3.7M,Rap,0,0,0,0,1
4,1-800-273-8255,Logic,8M,Rap,0,0,0,0,1

In [21]:
df.info()
df['Title'] = df['Title'].astype('str')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Title    418 non-null    object
 1   Artist   418 non-null    object
 2   Views    418 non-null    object
 3   Genre    418 non-null    object
 4   Rock     418 non-null    int64
 5   Country  418 non-null    int64
 6   Pop      418 non-null    int64
 7   R&B      418 non-null    int64
 8   Rap      418 non-null    int64
dtypes: int64(5), object(4)
memory usage: 29.5+ KB

In [11]:
token = 'nk85iZdQ9COUdzmAS3Gr1hJmMOsVE9QmBDchEGTsY9Q5YO6DJA7anNSAeDisGV9C'
genius = Genius(token)

In [72]:
#this API request tends to timeout frequently, this loop must me run many times until all lyrics populate
#this loop fills in the data frame with song lyrics for those not yet filled
for index, row in df[df['Lyrics'].isna()].iterrows():
  song = genius.search_song(row['Title'], row['Artist'])
  clean_song1 = re.sub(r'\[.*]','',song.lyrics)
  clean_song2 = re.sub(r'[\s]',' ',clean_song1)
  clean_song3 = re.sub(r'\'','', clean_song2)
  df.at[index,'Lyrics'] = clean_song3

Searching for "Yesterday" by The Beatles...
Done.
Searching for "You All Over Me (Taylor’s Version) [From the Vault]" by Taylor Swift...
Done.
Searching for "You Are My Sunshine" by Johnny Cash...
Done.
Searching for "You Belong with Me" by Taylor Swift...
Done.
Searching for "You should be sad" by Halsey...
Done.
Searching for "Young Dumb & Broke" by Khalid...
Done.
Searching for "Youngblood" by 5 Seconds of Summer...
Done.
Searching for "Your Song" by Elton John...
Done.
Searching for "Zombie" by The Cranberries...
Done.
Searching for "Люби меня, люби (LML)" by ​гречка (grechka)...
Done.
Searching for "অপরাধী (Oporadhi)" by Ankur Mahamud...
Done.

In [73]:
df[df['Lyrics'].isna()]

Empty DataFrame
Columns: [Title, Artist, Views, Genre, Rock, Country, Pop, R&B, Rap, Lyrics]
Index: []

In [75]:
df.to_csv('Final_Lyrics_Data.csv')